{% extends "base.html" %}

{% block content_header %}
<div class='header'></div>
{% endblock %}

{% block content %}
<main role="main" class="bgs">
  <div class="container">
    <div class='roasting'>
      <h3 class="h3-1">Фауна России - это...</h3>
      <p>Фауна России - это путеводитель по удивительному миру животных нашей необъятной страны, здесь вы найдёте самые необычные факты из мира животных и, собственно, самих животных =)</p>
      <br>
    </div>
  </div>
</main>
<section class='bgs2'>
  <div class="container">
    <div class='roasting-2'>
      <h3 class="h3-2">Как работать с платформой?</h3>
      <p><b>Регистрация </b><br>
        Зарегистрируйся на платформе, <br>чтобы открыть весь функционал</p>
      <br>
      <p><b>Направления</b> <br>
        Выбирай по какому пути <br>хочешь начать изучать <br>мир животных.</p>
      <br><br><br><br><br>
      <p><b>Только вперёд! </b><br>
        Изучай теорию и проходи мини-тесты, <br>отслеживай свой прогресс по статистике в профиле, удачи!</p>
    </div>
  </div>
</section>
{% endblock %}